<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


<link rel="stylesheet" href="/stylesheets/css/reset.css">
<link rel="stylesheet" href="/stylesheets/css/animate.css">
<link rel="stylesheet" href="/stylesheets/css/styles.css">




<script type="text/javascript" src="./js/validation.js"></script>
<title>Homepage of the Web project</title>
</head>

<body  class="LoginPageBody"  >  

<div class=header>
<img alt="University Logo" src="/stylesheets/img/UnivLogo.png" align="middle" >

<center><h1><font color="red"><b> </b></font></h1></center>


</div>



	<div id="container" >
		
		<form action="" name="LoginForm" method="post" onsubmit="return validate();">
		
		<label for="name">University Email ID<font color="red"><b> *</b></font></label>
		
		<input type="name" name="name" id ="name">
		
		<label for="password">Password<font color="red"><b> *</b></font></label>
		
		<input type="password" name="password" id ="password" >
		
		<a href="">Forgot Password?</a>
		
		
		
			<div id="lower">
			
			<input type="submit" value="Login">
			</div>	
		</form>
	
	</div>

<div class=footer>
<a href="#">Swag@University.edu</a>
</div>
</div>
</body>
</html>